<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.involvd">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".sdk.ui.main_activity.InvolvdActivity" />
        <activity android:name=".sdk.ui.create_bug_report.CreateBugReportActivity" />
        <activity android:name=".sdk.ui.create_feature_request.CreateFeatureRequestActivity" />
    </application>

</manifest>
